<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dashboard de Emergencias LoRaLink</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
    <div class="dashboard-container">
        <div class="sidebar">
            <header><h2>Reportes de Emergencia</h2></header>
            <div id="lista-emergencias" class="lista-container"></div>
        </div>
        <div id="map" class="map-container"></div>
    </div>

    <div id="modal-unidades" class="modal-backdrop" style="display: none;">
        <div class="modal-content">
            <h3>Asignar Unidad</h3>
            <select id="select-unidad"></select>
            <div class="modal-acciones">
                <button id="btn-cancelar-asignacion">Cancelar</button>
                <button id="btn-confirmar-asignacion">Confirmar</button>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>